<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>{% block title %}{% endblock %}</title>   
 {% load static %} 
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% load static %}
 <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
</head>  
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">IG Ecommerce</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/index">Home</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/product">Product</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/feedback">Feed Back</a></li>      
    </ul>
  </div>
</nav>
   
    <header class="text-white">
    <div class="container text-center">
      <h1>Contact Us - Company Name</h1>
      <p class="lead">Leave your messages and queries here!</p>
    </div>
  </header>
   
 <section id="contact">
   	<div class="contact-section">
   	<div class="container">
   	{% block content %}
        {% endblock %}
   	</div>
   	</div>
 </section>
</body> 
</html>
